In [2]:
#install.packages("readxl")
library(tidyverse)
library(rvest)
library(readxl)

─ Attaching packages ──────────────────── tidyverse 1.3.1 ─

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

─ Conflicts ───────────────────── tidyverse_conflicts() ─
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


载入程辑包：‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding

In [3]:
#first we get all xlsx file links from url
mental_health_data_urls_all_years <- 'https://www.health.govt.nz/our-work/mental-health-and-addiction/mental-health-and-addiction-monitoring-reporting-and-data' %>% 
                                        read_html() %>%
                                        html_element('#node-12245 > div > div > div > ul:nth-child(19)') %>%
                                        html_elements("a") %>%
                                        html_attrs() %>% 
                                        str_c('https://www.health.govt.nz/', .)

#function is to download xlsx from health url 
download_xlsx_file <- function(heath_url, file_name){
                        download_ur <- heath_url %>% 
                            read_html() %>%
                            html_element("#block-system-main > div > div:nth-child(2) > div.panel-panel.right.col-xs-12.col-sm-12.col-md-3.col-lg-3 > div.panel-pane.pane-views.pane-file-attachments-revisioning.pane-downloads-right.standard-block.even.hidden-xs.hidden-sm > div > div > div > div > ul > li > span > a") %>% 
                            html_attr("href") 
                        download.file(url = download_ur, destfile = file_name)}

#iteral through every year from 2014 to 2019
start_year = 2014
for (url_yearly_health in mental_health_data_urls_all_years){
    file_name = str_c('mental_health', start_year) %>% 
                    str_c('.xlsx')
    start_year = start_year + 1
    download_xlsx_file(url_yearly_health, file_name)
    }

In [4]:
#list all download file names
file_name = c('mental_health2020.xlsx','mental_health2019.xlsx','mental_health2018.xlsx','mental_health2017.xlsx','mental_health2016.xlsx','mental_health2015.xlsx','mental_health2014.xlsx')

In [72]:
#get all col names for table use after
age_group_col_names <-file_name[1] %>% read_excel(sheet = "table1&2", range = cell_rows(4:4)) %>% colnames()
add_sex_totl_age_group_col_names <- c('sex', "Total", age_group_col_names)

In [92]:
#two different way get first table of total group data
Ethnic_group_total_df <- file_name[1] %>% read_excel(sheet = "table1&2", range = "B5:U7", col_names = add_sex_totl_age_group_col_names) #range = cell_rows(3:19), 
Ethnic_group_total_df  #get from part of xlsx

all_data <- file_name[1] %>% read_excel(sheet = "table1&2", skip=1)
df_total_first_table <- all_data[2:4,2:21]
colnames(df_total_first_table) <- add_sex_totl_age_group_col_names  #get frome whole table  which i think it can be uesd for perstentation show different way get data and compare somth like that
df_total_first_table

  sex    Total  0-   5-   10-   15-   20-   25-   30-   35-   40-   45-   50-
1 Total  158158 1415 6764 14041 20401 16614 14168 12932 12345 13133 11307 9707
2 Male    83267  920 4730  7135 10001  9345  7750  6855  6651  7071  6088 5071
3 Female  74891  495 2034  6906 10400  7269  6418  6077  5694  6062  5219 4636
  55-  60-  65-  70-  75-  80-  85+
1 6760 4636 3434 2817 2559 2417 2708
2 3507 2308 1546 1247 1091  961  990
3 3253 2328 1888 1570 1468 1456 1718

New names:
* `` -> ...5
* `` -> ...6
* `` -> ...7
* `` -> ...8
* `` -> ...9
* ...

  sex    Total  0-   5-   10-   15-   20-   25-   30-   35-   40-   45-   50-
1 Total  158158 1415 6764 14041 20401 16614 14168 12932 12345 13133 11307 9707
2 Male   83267  920  4730 7135  10001 9345  7750  6855  6651  7071  6088  5071
3 Female 74891  495  2034 6906  10400 7269  6418  6077  5694  6062  5219  4636
  55-  60-  65-  70-  75-  80-  85+
1 6760 4636 3434 2817 2559 2417 2708
2 3507 2308 1546 1247 1091 961  990
3 3253 2328 1888 1570 1468 1456 1718

In [94]:
#first table, maori df
df_maori_first_table <- all_data[5:7,2:21]
colnames(df_maori_first_table) <- add_sex_totl_age_group_col_names 
#first table, Pacific df
df_Pacific_first_table <- all_data[8:10,2:21]
colnames(df_Pacific_first_table) <- add_sex_totl_age_group_col_names 
#first table, Asian df
df_Asian_first_table <- all_data[11:13,2:21]
colnames(df_Asian_first_table) <- add_sex_totl_age_group_col_names 
#first table, other df
df_other_first_table <- all_data[14:16,2:21]
colnames(df_other_first_table) <- add_sex_totl_age_group_col_names 

# df_Pacific_first_table
# df_maori_first_table
# df_Asian_first_table
# df_other_first_table

  sex    Total  0-  5-   10-  15-   20-  25-  30-  35-  40-  45-  50-  55-
1 Total  102644 813 4488 8107 12405 9522 7978 7602 7594 8470 7584 6897 5140
2 Male   52083  528 3081 4053 5536  5094 4180 3807 3958 4491 4035 3631 2705
3 Female 50561  285 1407 4054 6869  4428 3798 3795 3636 3979 3549 3266 2435
  60-  65-  70-  75-  80-  85+
1 3734 2909 2400 2224 2199 2578
2 1853 1301 1072 940  875  943
3 1881 1608 1328 1284 1324 1635

In [95]:
#table name for rate df
add_sex_rate_age_group_col_names <- c('sex', "Crude_rate", age_group_col_names, 'ASR')

In [97]:
#second table tolal df
df_other_second_table <- all_data[24:26,2:22]
colnames(df_other_second_table) <- add_sex_rate_age_group_col_names 

#second table, maori df
df_maori_second_table <- all_data[27:29,2:22]
colnames(df_maori_second_table) <- add_sex_rate_age_group_col_names 
#second table, Pacific df
df_Pacific_second_table <- all_data[30:32,2:22]
colnames(df_Pacific_second_table) <- add_sex_rate_age_group_col_names 
#second table, Asian df
df_Asian_second_table <- all_data[33:35,2:22]
colnames(df_Asian_second_table) <- add_sex_rate_age_group_col_names 
#second table, other df
df_other_second_table <- all_data[36:38,2:22]
colnames(df_other_second_table) <- add_sex_rate_age_group_col_names 

# df_other_second_table
# df_maori_second_table
# df_Pacific_second_table
# df_Asian_second_table
# df_other_second_table