In [2]:
#install.packages("readxl")
library(tidyverse)
library(rvest)
library(readxl)

─ Attaching packages ──────────────────── tidyverse 1.3.1 ─

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

─ Conflicts ───────────────────── tidyverse_conflicts() ─
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


载入程辑包：‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding

In [3]:
#first we get all xlsx file links from url
mental_health_data_urls_all_years <- 'https://www.health.govt.nz/our-work/mental-health-and-addiction/mental-health-and-addiction-monitoring-reporting-and-data' %>% 
                                        read_html() %>%
                                        html_element('#node-12245 > div > div > div > ul:nth-child(19)') %>%
                                        html_elements("a") %>%
                                        html_attrs() %>% 
                                        str_c('https://www.health.govt.nz/', .)

#function is to download xlsx from health url 
download_xlsx_file <- function(heath_url, file_name){
                        download_ur <- heath_url %>% 
                            read_html() %>%
                            html_element("#block-system-main > div > div:nth-child(2) > div.panel-panel.right.col-xs-12.col-sm-12.col-md-3.col-lg-3 > div.panel-pane.pane-views.pane-file-attachments-revisioning.pane-downloads-right.standard-block.even.hidden-xs.hidden-sm > div > div > div > div > ul > li > span > a") %>% 
                            html_attr("href") 
                        download.file(url = download_ur, destfile = file_name)}

#iteral through every year from 2014 to 2019
start_year = 2014
for (url_yearly_health in mental_health_data_urls_all_years){
    file_name = str_c('mental_health', start_year) %>% 
                    str_c('.xlsx')
    start_year = start_year + 1
    download_xlsx_file(url_yearly_health, file_name)
    }

In [193]:
#list all download file names
file_name = c('mental_health2020.xlsx','mental_health2019.xlsx','mental_health2018.xlsx','mental_health2017.xlsx','mental_health2016.xlsx','mental_health2015.xlsx','mental_health2014.xlsx')

In [194]:
#get all col names for table use after
age_group_col_names <-file_name[1] %>% read_excel(sheet = "table1&2", range = cell_rows(4:4)) %>% colnames()
add_sex_totl_age_group_col_names <- c('sex', "Total", age_group_col_names)

In [92]:
#two different way get first table of total group data
Ethnic_group_total_df <- file_name[1] %>% read_excel(sheet = "table1&2", range = "B5:U7", col_names = add_sex_totl_age_group_col_names) #range = cell_rows(3:19), 
Ethnic_group_total_df  #get from part of xlsx

all_data <- file_name[1] %>% read_excel(sheet = "table1&2", skip=1)
df_total_first_table <- all_data[2:4,2:21]
colnames(df_total_first_table) <- add_sex_totl_age_group_col_names  #get frome whole table  which i think it can be uesd for perstentation show different way get data and compare somth like that
df_total_first_table

  sex    Total  0-   5-   10-   15-   20-   25-   30-   35-   40-   45-   50-
1 Total  158158 1415 6764 14041 20401 16614 14168 12932 12345 13133 11307 9707
2 Male    83267  920 4730  7135 10001  9345  7750  6855  6651  7071  6088 5071
3 Female  74891  495 2034  6906 10400  7269  6418  6077  5694  6062  5219 4636
  55-  60-  65-  70-  75-  80-  85+
1 6760 4636 3434 2817 2559 2417 2708
2 3507 2308 1546 1247 1091  961  990
3 3253 2328 1888 1570 1468 1456 1718

New names:
* `` -> ...5
* `` -> ...6
* `` -> ...7
* `` -> ...8
* `` -> ...9
* ...

  sex    Total  0-   5-   10-   15-   20-   25-   30-   35-   40-   45-   50-
1 Total  158158 1415 6764 14041 20401 16614 14168 12932 12345 13133 11307 9707
2 Male   83267  920  4730 7135  10001 9345  7750  6855  6651  7071  6088  5071
3 Female 74891  495  2034 6906  10400 7269  6418  6077  5694  6062  5219  4636
  55-  60-  65-  70-  75-  80-  85+
1 6760 4636 3434 2817 2559 2417 2708
2 3507 2308 1546 1247 1091 961  990
3 3253 2328 1888 1570 1468 1456 1718

In [94]:
#first table, maori df
df_maori_first_table <- all_data[5:7,2:21]
colnames(df_maori_first_table) <- add_sex_totl_age_group_col_names 
#first table, Pacific df
df_Pacific_first_table <- all_data[8:10,2:21]
colnames(df_Pacific_first_table) <- add_sex_totl_age_group_col_names 
#first table, Asian df
df_Asian_first_table <- all_data[11:13,2:21]
colnames(df_Asian_first_table) <- add_sex_totl_age_group_col_names 
#first table, other df
df_other_first_table <- all_data[14:16,2:21]
colnames(df_other_first_table) <- add_sex_totl_age_group_col_names 

# df_Pacific_first_table
# df_maori_first_table
# df_Asian_first_table
# df_other_first_table

  sex    Total  0-  5-   10-  15-   20-  25-  30-  35-  40-  45-  50-  55-
1 Total  102644 813 4488 8107 12405 9522 7978 7602 7594 8470 7584 6897 5140
2 Male   52083  528 3081 4053 5536  5094 4180 3807 3958 4491 4035 3631 2705
3 Female 50561  285 1407 4054 6869  4428 3798 3795 3636 3979 3549 3266 2435
  60-  65-  70-  75-  80-  85+
1 3734 2909 2400 2224 2199 2578
2 1853 1301 1072 940  875  943
3 1881 1608 1328 1284 1324 1635

In [95]:
#table name for rate df
add_sex_rate_age_group_col_names <- c('sex', "Crude_rate", age_group_col_names, 'ASR')

In [130]:
#second table tolal df
df_tolal_second_table <- all_data[24:26,2:22]
colnames(df_tolal_second_table) <- add_sex_rate_age_group_col_names 

#second table, maori df
df_maori_second_table <- all_data[27:29,2:22]
colnames(df_maori_second_table) <- add_sex_rate_age_group_col_names 
#second table, Pacific df
df_Pacific_second_table <- all_data[30:32,2:22]
colnames(df_Pacific_second_table) <- add_sex_rate_age_group_col_names 
#second table, Asian df
df_Asian_second_table <- all_data[33:35,2:22]
colnames(df_Asian_second_table) <- add_sex_rate_age_group_col_names 
#second table, other df
df_other_second_table <- all_data[36:38,2:22]
colnames(df_other_second_table) <- add_sex_rate_age_group_col_names 

# df_other_second_table
# df_maori_second_table
# df_Pacific_second_table
# df_Asian_second_table
# df_other_second_table

In [204]:
#thrid way to get data of client seen by age
col_names_seen_by_age_sheet1_2  <- c('Ethnic_group', 'Sex', 'total', age_group_col_names)
client_seen_by_age_data <- file_name[1] %>% read_excel(sheet = "table1&2", skip=2, range='A4:U19')
colnames(client_seen_by_age_data) <- col_names_seen_by_age_sheet1_2 


#thrid way to get data of client seen by rate
col_names_seen_by_Crude_rate_sheet1_2  <- c('Ethnic_group', 'Sex', 'Crude_rate', age_group_col_names, "ASR")
client_seen_by_Crude_rate_data <- file_name[1] %>% read_excel(sheet = "table1&2", skip=2, range='A26:V41')
colnames(client_seen_by_Crude_rate_data) <- col_names_seen_by_Crude_rate_sheet1_2 



#get num of row
n_row_age_sheet1_2 <- nrow(client_seen_by_age_data)

#set all na values with activity type 
for (row_num in 1:n_row_age_sheet1_2){
    if(client_seen_by_age_data$Ethnic_group[[row_num]] %>% is.na()){
        client_seen_by_age_data$Ethnic_group[[row_num]] = client_seen_by_age_data$Ethnic_group[[row_num - 1]]
    }
}


#get num of row
n_row_Crude_rate_sheet1_2 <- nrow(client_seen_by_Crude_rate_data)

#set all na values with activity type 
for (row_num in 1:n_row_Crude_rate_sheet1_2){
    if(client_seen_by_Crude_rate_data$Ethnic_group[[row_num]] %>% is.na()){
        client_seen_by_Crude_rate_data$Ethnic_group[[row_num]] = client_seen_by_Crude_rate_data$Ethnic_group[[row_num - 1]]
    }
}

#get ride of na value in ethnic_group col values
client_seen_by_age_data
client_seen_by_Crude_rate_data

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3
* `` -> ...22

   Ethnic_group Sex    total  0-   5-   10-   15-   20-   25-   30-   ⋯ 40-
1  Total        Total  158158 1415 6764 14041 20401 16614 14168 12932 ⋯ 13133
2  Total        Male    83267  920 4730  7135 10001  9345  7750  6855 ⋯  7071
3  Total        Female  74891  495 2034  6906 10400  7269  6418  6077 ⋯  6062
4  Māori       Total   40803  420 1778  4739  5923  5167  4448  3789 ⋯  3561
5  Māori       Male    23038  284 1281  2494  3338  3106  2534  2170 ⋯  1961
6  Māori       Female  17765  136  497  2245  2585  2061  1914  1619 ⋯  1600
7  Pacific      Total    8919  101  283   860  1406  1180  1048   891 ⋯   699
8  Pacific      Male     5463   58  217   435   823   784   701   586 ⋯   443
9  Pacific      Female   3456   43   66   425   583   396   347   305 ⋯   256
10 Asian        Total    5792   81  215   335   667   745   694   650 ⋯   403
11 Asian        Male     2683   50  151   153   304   361   335   292 ⋯   176
12 Asian        Female   3109   31   64   182   363   384   359   358 ⋯   227
13 Other        Total  102644  813 4488  8107 12405  9522  7978  7602 ⋯  8470
14 Other        Male    52083  528 3081  4053  5536  5094  4180  3807 ⋯  4491
15 Other        Female  50561  285 1407  4054  6869  4428  3798  3795 ⋯  3979
   45-   50-  55-  60-  65-  70-  75-  80-  85+
1  11307 9707 6760 4636 3434 2817 2559 2417 2708
2   6088 5071 3507 2308 1546 1247 1091  961  990
3   5219 4636 3253 2328 1888 1570 1468 1456 1718
4   2785 2095 1125  582  303  242  167  106   64
5   1537 1072  565  298  144  110   73   38   22
6   1248 1023  560  284  159  132   94   68   42
7    565  386  247  147  122   81   87   43   22
8    336  220  130   81   60   36   44   17    7
9    229  166  117   66   62   45   43   26   15
10   373  329  248  173  100   94   81   69   44
11   180  148  107   76   41   29   34   31   18
12   193  181  141   97   59   65   47   38   26
13  7584 6897 5140 3734 2909 2400 2224 2199 2578
14  4035 3631 2705 1853 1301 1072  940  875  943
15  3549 3266 2435 1881 1608 1328 1284 1324 1635

   Ethnic_group Sex    Crude_rate 0-    5-     10-    15-    20-     25-
1  Total        Total  3507.3     459.3 2203.6 4739.9 6512.8  5116.3  4837.6
2  Total        Male   3769.7     583.0 3002.2 4706.2 6217.0  5632.1  5366.9
3  Total        Female 3255.4     329.3 1361.4 4775.3 6825.0  4577.5  4322.8
4  Māori       Total  5774.6     501.9 2223.9 6552.8 8442.1  8533.4  9445.7
5  Māori       Male   6693.6     662.0 3114.5 6715.1 9290.3 10443.8 11645.2
6  Māori       Female 4901.9     333.5 1280.3 6381.5 7551.9  6689.4  7556.3
7  Pacific      Total  3064.4     329.8  975.9 3001.7 4891.3  4429.4  4916.7
8  Pacific      Male   3798.6     371.0 1459.8 2968.3 5670.0  5991.6  6717.8
9  Pacific      Female 2347.3     287.0  466.9 3036.8 4097.0  2921.4  3189.3
10 Asian        Total  1046.6     200.6  663.7 1084.5 1608.8  1299.4  1149.6
11 Asian        Male    993.7     241.8  899.1  968.0 1406.8  1153.4  1122.7
12 Asian        Female 1097.0     157.4  410.3 1206.5 1828.7  1474.9  1175.9
13 Other        Total  3469.7     529.8 2710.0 4932.2 7175.5  5284.1  4861.7
14 Other        Male   3589.8     671.8 3635.0 4824.4 6233.5  5549.0  5074.7
15 Other        Female 3354.1     380.8 1740.3 5044.8 8170.6  5009.0  4647.0
   30-     ⋯ 45-    50-    55-    60-    65-    70-    75-    80-    85+
1   4665.7 ⋯ 3630.2 3060.9 2420.9 1891.2 1590.0 1761.7 2249.0 2914.9 3503.0
2   5147.2 ⋯ 4070.6 3309.4 2585.2 1932.0 1465.1 1616.2 2057.3 2627.1 3518.1
3   4220.4 ⋯ 3223.4 2828.6 2265.6 1852.3 1709.4 1897.4 2416.3 3142.0 3494.4
4   9453.6 ⋯ 6962.5 5464.3 3720.2 2565.0 1894.9 2272.3 2565.3 2960.9 3535.9
5  11845.0 ⋯ 8153.8 5982.1 3990.1 2790.3 1917.4 2200.0 2543.6 2638.9 3492.1
6   7440.3 ⋯ 5900.7 5009.8 3482.6 2364.7 1875.0 2336.3 2582.4 3177.6 3559.3
7   4661.3 ⋯ 3189.4 2599.3 2142.2 1580.6 1798.1 1753.2 3047.3 2638.0 2430.9
8   6274.1 ⋯ 3948.3 3076.9 2315.2 1782.2 1815.4 1702.1 3478.3 2698.4 2413.8
9   3120.2 ⋯ 2487.8 2155.8 1978.0 1388.0 1781.6 1796.4 2704.4 2600.0 2439.0
10  1123.5 ⋯ 1038.3  993.8  907.4  840.2  720.2 1015.1 1265.6 2123.1 2485.9
11  1056.1 ⋯ 1122.2  992.0  871.3  801.3  616.1  660.6 1102.1 2000.0 2500.0
12  1185.2 ⋯  970.6  995.3  936.9  873.5  816.0 1334.7 1417.8 2235.3 2476.2
13  4747.7 ⋯ 3481.6 2987.9 2446.0 1939.1 1622.3 1772.9 2268.9 2953.3 3540.2
14  4888.9 ⋯ 3800.9 3206.5 2611.0 1955.7 1477.6 1632.9 2052.0 2654.7 3558.5
15  4614.0 ⋯ 3178.1 2777.4 2285.5 1923.1 1762.0 1904.8 2459.3 3190.4 3529.8
   ASR
1  3681.1
2  3970.3
3  3400.5
4  6031.2
5  7098.1
6  5063.9
7  3103.0
8  3871.6
9  2363.7
10 1026.0
11  977.8
12 1073.9
13 3795.1
14 3926.8
15 3667.5

In [192]:
#get col names for sheet 11
Ethnic_Group_names <- file_name[1] %>% read_excel(sheet = "table11", skip=2, range = cell_rows(4:4)) %>% colnames()
df_col_names_sheet_11 <- c("Organisation_name", Ethnic_Group_names)

#get df of sheet11
Ethnic_Group_sheet11_data <- file_name[1] %>% read_excel(sheet = "table11", skip=2, range='A4:G682')
colnames(Ethnic_Group_sheet11_data) <- df_col_names_sheet_11 
Ethnic_Group_sheet11_data

New names:
* `` -> ...1

    Organisation_name                                            Sex    Total
1   ACROSS - Te Kotahitanga o Te Wairua                          Total   13
2   NA                                                           Male     4
3   NA                                                           Female   9
4   ARC Counselling Services                                     Total  498
5   NA                                                           Male   317
6   NA                                                           Female 181
7   Adventure Development Limited                                Total  614
8   NA                                                           Male   319
9   NA                                                           Female 295
10  Affinity Services Limited                                    Total  758
11  NA                                                           Male   335
12  NA                                                           Female 423
13  Alcohol & Drug Community Support Trust                       Total   51
14  NA                                                           Male    33
15  NA                                                           Female  18
16  Arahura Charitable Trust                                     Total  158
17  NA                                                           Male    99
18  NA                                                           Female  59
19  Arataki Ministries Limited                                   Total  251
20  NA                                                           Male   131
21  NA                                                           Female 120
22  Ashburn Hall Charitable Trust                                Total  295
23  NA                                                           Male    89
24  NA                                                           Female 206
25  Ashburton Community Alcohol & Drug Service Inc               Total  417
26  NA                                                           Male   258
27  NA                                                           Female 159
28  Atareira (Schizophrenia Fellowship - Wellington Branch Inc.) Total  115
29  NA                                                           Male    78
30  NA                                                           Female  37
⋮   ⋮                                                            ⋮      ⋮
649 West Fono Health Trust (merged)                              Total   123
650 NA                                                           Male     68
651 NA                                                           Female   55
652 Whaioranga Trust                                             Total    43
653 NA                                                           Male     24
654 NA                                                           Female   19
655 Whaioro Trust Board                                          Total   183
656 NA                                                           Male    129
657 NA                                                           Female   54
658 Whakatohea Māori Trust Board                                Total   250
659 NA                                                           Male    153
660 NA                                                           Female   97
661 Whanganui Community Living Trust                             Total    94
662 NA                                                           Male     49
663 NA                                                           Female   45
664 Whanganui District Health Board                              Total  2522
665 NA                                                           Male   1397
666 NA                                                           Female 1125
667 Whare Tiaki Hauora Limited                                   Total   174
668 NA                                                           Male    102
669 NA                                                           Female   72
670 Whatever It Takes Trust Incorporated                         Total   147
671 NA                                                           Male     88
672 NA                                                           Female   59
673 Wings Trust (1986) Incorporated                              Total   282
674 NA                                                           Male    169
675 NA                                                           Female  113
676 Workwise Employment Limited                                  Total  1486
677 NA                                                           Male    818
678 NA                                                           Female  668
    Māori Pacific Asian Other
1     4      0       0     9
2     0      0       0     4
3     4      0       0     5
4   252      7       2   237
5   167      7       0   143
6    85      0       2    94
7   118     11       4   481
8    70      6       2   241
9    48      5       2   240
10  191    108     121   338
11   94     64      42   135
12   97     44      79   203
13   21      0       2    28
14   13      0       2    18
15    8      0       0    10
16   18     22      12   106
17   12     14       6    67
18    6      8       6    39
19   98      2       0   151
20   49      2       0    80
21   49      0       0    71
22   24      2       7   262
23   10      1       0    78
24   14      1       7   184
25  100     14       0   303
26   71     12       0   175
27   29      2       0   128
28   38      6       4    67
29   27      4       4    43
30   11      2       0    24
⋮   ⋮      ⋮       ⋮     ⋮
649   5    108      6       4
650   3     61      2       2
651   2     47      4       2
652  42      0      0       1
653  24      0      0       0
654  18      0      0       1
655 104      5      1      73
656  69      3      1      56
657  35      2      0      17
658 205      2      0      43
659 122      1      0      30
660  83      1      0      13
661   6      0      0      88
662   3      0      0      46
663   3      0      0      42
664 791     30     14    1687
665 480     18      4     895
666 311     12     10     792
667 104     30      5      35
668  58     18      4      22
669  46     12      1      13
670  51      2      0      94
671  33      1      0      54
672  18      1      0      40
673  75     14      5     188
674  46     11      5     107
675  29      3      0      81
676 390    112     75     909
677 230     58     39     491
678 160     54     36     418

In [191]:
#set col names for sheet12 df
DHB_client_domicile_names_sheet12 <- file_name[1] %>% read_excel(sheet = "table12", skip=2, range = cell_rows(4:4)) %>% colnames()

#get df of sheet12
DHB_client_domicile_sheet12_df <- file_name[1] %>% read_excel(sheet = "table12", skip=2, range='A5:W26')
colnames(DHB_client_domicile_sheet12_df) <- DHB_client_domicile_names_sheet12 
DHB_client_domicile_sheet12_df

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* ...

   DHB of service     Northland Waitemata Auckland Counties Manukau Waikato
1  Northland          5905        206       146      157               82
2  Waitemata           731      15380      6660     5232              463
3  Auckland            137       1137      9917      858              232
4  Counties Manukau    150        394      1237    11473              207
5  Waikato              67        114       135      172             9670
6  Lakes                18         22        50       35              118
7  Bay of Plenty        22         52        63       63              160
8  Tairawhiti            3         12         4       18               20
9  Taranaki              9         17        25       17               21
10 Hawkes Bay           11         20        48       25               40
11 MidCentral           10         10        15       13               24
12 Whanganui             3          7         6        9               16
13 Capital and Coast    19         53        93       69              104
14 Hutt Valley           2         10        15       14               13
15 Wairarapa             1          3         1        2                4
16 Nelson Marlborough   10         13        27        8               19
17 West Coast            1          2         3        2                7
18 Canterbury           27         45        47       38               37
19 South Canterbury      1          6         4        3               12
20 Southern             13         24        45       33               22
21 Unique Total       6580      16309     16398    16298            10592
   Lakes Bay  Tairawhiti Taranaki ⋯ Hutt Valley Wairarapa Nelson Marlborough
1    20    32   10         15     ⋯    9           2         7
2   114   168   30         64     ⋯   84           9        46
3    65   121   24         33     ⋯   35           1        24
4    60    67   12         28     ⋯  100           1        12
5   190   341   40        105     ⋯   36           4        16
6  3643   142    9         12     ⋯   10           2         4
7    78  7781   15         16     ⋯   14           5        11
8     8    12 2047          2     ⋯   10           2         3
9    10    14    2       3985     ⋯    5           6         7
10   35    44   36         22     ⋯   47          17        13
11   17    19    8         17     ⋯   30          27        14
12    5     6    1         36     ⋯    7           3         6
13   40    56  113        171     ⋯ 1014         144        75
14   10    11    5          6     ⋯ 4164          69         9
15    2     3    1          3     ⋯   23         904         1
16    7    12    4          6     ⋯   15           5      5154
17    1     6    0          5     ⋯    2           2        30
18   12    33    9         17     ⋯   20           6       166
19    1     6    1          2     ⋯    3           0        21
20   12    20    4          7     ⋯   17           4        55
21 4053  8341 2219       4278     ⋯ 5040        1075      5422
   West Coast Canterbury South Canterbury Southern Unknown MidCentral
1     3          23         3               17       51      14
2     1         116         4               67      106      67
3     1          69         8               45       64      36
4     2          63         2               23       58      21
5     4          45         4               52       99      32
6     1          12         2               36       32      25
7     4          31         3               31       80      16
8     1           7         0                3        6       8
9     0          10         0                4       98      30
10    3          34         0               23       63      73
11    0          20         0               17       44    4080
12    0           3         0                5        4      48
13    4         110         5               60      192     448
14    0          20         0               12       35      36
15    0           8         0                0       26      25
16   46         160         6               50       12      20
17 1462          76         6               17        8       5
18   90       12541       128              308      128      23
19   10         243      1954               99       14       4
20   11         167        50             8742      103      14
21 1566       13269      2062             9242     1142    4669
   Unique Total
1    6356
2   26087
3   11654
4   12588
5   10547
6    3968
7    8034
8    2142
9    4088
10   5383
11   4293
12   2522
13  10102
14   4583
15    963
16   5384
17   1528
18  13289
19   2220
20   9017
21 133447

In [190]:
#set col names for sheet17 df
client_ages_sheet17 <- file_name[1] %>% read_excel(sheet = "table17", skip=2, range = cell_rows(4:4)) %>% colnames()
client_Activity_names_sheet17 <- c('Activity_type', 'Sex', 'total',client_ages_sheet17)

#get df of sheet17
client_Activity_sheet17_df <- file_name[1] %>% read_excel(sheet = "table17", skip=2, range='A4:U130')
colnames(client_Activity_sheet17_df) <- client_Activity_names_sheet17

#get num of row
n_row_sheet17 <- nrow(client_Activity_sheet17_df)

#set all na values with activity type 
for (row_num in 1:n_row_sheet17){
    if(client_Activity_sheet17_df$Activity_type[[row_num]] %>% is.na()){
        client_Activity_sheet17_df$Activity_type[[row_num]] = client_Activity_sheet17_df$Activity_type[[row_num - 1]]
    }
}
client_Activity_sheet17_df

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3

    Activity_type
1   Mental health crisis attendances
2   Mental health crisis attendances
3   Mental health crisis attendances
4   Mental health intensive care inpatient or equivalent occupied bed nights
5   Mental health intensive care inpatient or equivalent occupied bed nights
6   Mental health intensive care inpatient or equivalent occupied bed nights
7   Mental health acute inpatient or equivalent occupied bed nights
8   Mental health acute inpatient or equivalent occupied bed nights
9   Mental health acute inpatient or equivalent occupied bed nights
10  Mental health sub-acute inpatient or equivalent occupied bed nights
11  Mental health sub-acute inpatient or equivalent occupied bed nights
12  Mental health sub-acute inpatient or equivalent occupied bed nights
13  Crisis respite care occupied bed nights
14  Crisis respite care occupied bed nights
15  Crisis respite care occupied bed nights
16  Group programme session attendances
17  Group programme session attendances
18  Group programme session attendances
19  Care/liaison co-ordination contacts
20  Care/liaison co-ordination contacts
21  Care/liaison co-ordination contacts
22  Early psychosis intervention attendances
23  Early psychosis intervention attendances
24  Early psychosis intervention attendances
25  Completed needs assessment
26  Completed needs assessment
27  Completed needs assessment
28  Maximum secure inpatient occupied bed nights
29  Maximum secure inpatient occupied bed nights
30  Maximum secure inpatient occupied bed nights
⋮   ⋮
97  Contact with family/whanau, consumer present
98  Contact with family/whanau, consumer present
99  Contact with family/whanau, consumer present
100 On leave
101 On leave
102 On leave
103 Māori specific interventions only
104 Māori specific interventions only
105 Māori specific interventions only
106 Integrated Māori and clinical interventions
107 Integrated Māori and clinical interventions
108 Integrated Māori and clinical interventions
109 Pacific and other people's cultural activity
110 Pacific and other people's cultural activity
111 Pacific and other people's cultural activity
112 Other cultural specific activity
113 Other cultural specific activity
114 Other cultural specific activity
115 Individual treatment attendances: family/whanau not present
116 Individual treatment attendances: family/whanau not present
117 Individual treatment attendances: family/whanau not present
118 Community Support Contacts
119 Community Support Contacts
120 Community Support Contacts
121 Advocacy
122 Advocacy
123 Advocacy
124 Peer Support
125 Peer Support
126 Peer Support
    Sex    total  0-  5-   10-  15-   20-   25-   30-   ⋯ 40-   45-  50-  55-
1   Total  38944   22  192 1901  5590 5280  4118  3544  ⋯ 3699  3261 2672 1884
2   Male   18836   11  135  602  2483 2797  2138  1810  ⋯ 1815  1603 1259  928
3   Female 20108   11   57 1299  3107 2483  1980  1734  ⋯ 1884  1658 1413  956
4   Total   3722    0    0   36   397  527   474   424  ⋯  404   396  259  173
5   Male    2220    0    0   17   260  363   316   255  ⋯  232   209  131   91
6   Female  1502    0    0   19   137  164   158   169  ⋯  172   187  128   82
7   Total   8632    4   19  180   894  966   867   769  ⋯  835   787  626  469
8   Male    4444    2   15   49   429  606   511   420  ⋯  435   400  284  231
9   Female  4188    2    4  131   465  360   356   349  ⋯  400   387  342  238
10  Total    551    0    0    0    53   69    41    63  ⋯   59    69   56   30
11  Male     283    0    0    0    23   36    22    39  ⋯   26    38   25   18
12  Female   268    0    0    0    30   33    19    24  ⋯   33    31   31   12
13  Total   3411    0   12   62   243  389   404   393  ⋯  395   330  303  191
14  Male    1481    0    8   18    93  171   194   187  ⋯  182   151  117   86
15  Female  1930    0    4   44   150  218   210   206  ⋯  213   179  186  105
16  Total  20335   23  418 1264  2153 2682  2462  2198  ⋯ 2016  1757 1362  861
17  Male   12400   14  300  644  1247 1864  1606  1398  ⋯ 1235  1038  783  481
18  Female  7935    9  118  620   906  818   856   800  ⋯  781   719  579  380
19  Total  90280  932 4417 8546 11832 8883  7941  7392  ⋯ 7336  6513 5445 3882
20  Male   46201  604 3132 4277  5655 4730  4056  3692  ⋯ 3836  3412 2799 1978
21  Female 44079  328 1285 4269  6177 4153  3885  3700  ⋯ 3500  3101 2646 1904
22  Total    904    0    4   15   238  325   141    62  ⋯   22    20   19   13
23  Male     602    0    4   11   163  237    91    32  ⋯   12     8   10   11
24  Female   302    0    0    4    75   88    50    30  ⋯   10    12    9    2
25  Total   6635   15  227  445   546  633   661   619  ⋯  644   588  516  416
26  Male    3724   11  174  257   318  396   385   373  ⋯  366   310  256  210
27  Female  2911    4   53  188   228  237   276   246  ⋯  278   278  260  206
28  Total     66    0    0    0     2    6     4     8  ⋯    9     9    6    8
29  Male      56    0    0    0     2    5     4     7  ⋯    8     6    6    5
30  Female    10    0    0    0     0    1     0     1  ⋯    1     3    0    3
⋮   ⋮      ⋮      ⋮   ⋮    ⋮    ⋮     ⋮     ⋮     ⋮     ⋱ ⋮     ⋮    ⋮    ⋮
97  Total   42818 773 4044 7553  7425  3205  2687  2633 ⋯  2380 2073 1733 1249
98  Male    21460 498 2872 3747  3309  1711  1342  1272 ⋯  1136  987  818  585
99  Female  21358 275 1172 3806  4116  1494  1345  1361 ⋯  1244 1086  915  664
100 Total    4514   1    9   86   504   555   525   440 ⋯   458  426  355  268
101 Male     2438   1    6   31   255   365   333   260 ⋯   237  217  162  122
102 Female   2076   0    3   55   249   190   192   180 ⋯   221  209  193  146
103 Total    4502  20  169  562   518   501   447   416 ⋯   409  341  301  186
104 Male     2734  14  127  331   327   332   280   262 ⋯   248  192  159  103
105 Female   1768   6   42  231   191   169   167   154 ⋯   161  149  142   83
106 Total    4467   9  117  442   505   541   531   468 ⋯   446  379  262  161
107 Male     2578   7   81  258   300   374   316   274 ⋯   246  198  129   72
108 Female   1889   2   36  184   205   167   215   194 ⋯   200  181  133   89
109 Total     735  11   66  167   136    35    50    50 ⋯    51   45   39   26
110 Male      410   3   50   77    64    25    28    35 ⋯    35   22   24   15
111 Female    325   8   16   90    72    10    22    15 ⋯    16   23   15   11
112 Total     762   0    7   67    74    78    66    73 ⋯    83   67   68   47
113 Male      414   0    5   37    41    47    31    45 ⋯    47   41   30   23
114 Female    348   0    2   30    33    31    35    28 ⋯    36   26   38   24
115 Total  122110 670 4137 9302 15180 12908 11271 10443 ⋯ 10508 9173 7757 5358
116 Male    63944 439 2919 4577  7307  7288  6221  5629 ⋯  5684 4922 4058 2780
117 Female  58166 231 1218 4725  7873  5620  5050  4814 ⋯  4824 4251 3699 2578
118 Total   22951  51  425 1310  1942  2174  2094  2133 ⋯  2438 2261 2107 1486
119 Male    11656  33  307  642   970  1244  1104  1193 ⋯  1244 1125 1015  678
120 Female  11295  18  118  668   972   930   990   940 ⋯  1194 1136 1092  808
121 Total    2205   6   43  135   236   164   174   206 ⋯   239  238  208  130
122 Male     1113   4   30   82   123    84    89   104 ⋯   104  118  103   68
123 Female   1092   2   13   53   113    80    85   102 ⋯   135  120  105   62
124 Total    4870   6   37  109   250   411   465   527 ⋯   636  623  555  369
125 Male     2664   5   22   59   143   242   266   317 ⋯   339  325  281  196
126 Female   2206   1   15   50   107   169   199   210 ⋯   297  298  274  173
    60-  65-  70-  75-  80-  85+
1   1239  709  498  314  269  198
2    573  320  218  137  122   87
3    666  389  280  177  147  111
4    121   71   31   20   10    7
5     63   29   17   12    5    5
6     58   42   14    8    5    2
7    353  304  242  204  199  164
8    164  128  111   91   96   65
9    189  176  131  113  103   99
10    37   11    3    2    0    1
11    18    6    1    0    0    1
12    19    5    2    2    0    0
13   134   70   43   35   22   11
14    43   29   15   13   12    5
15    91   41   28   22   10    6
16   509  288  142   89   58   42
17   258  145   60   38   23   15
18   251  143   82   51   35   27
19  2696 1956 1579 1349 1205 1332
20  1307  864  693  571  477  481
21  1389 1092  886  778  728  851
22     7    2    0    0    0    0
23     2    0    0    0    0    0
24     5    2    0    0    0    0
25   300  157  104   76   60   79
26   138   73   40   33   32   29
27   162   84   64   43   28   50
28     0    1    2    0    0    0
29     0    1    1    0    0    0
30     0    0    1    0    0    0
⋮   ⋮    ⋮    ⋮    ⋮    ⋮    ⋮
97  1064  877  800  747  634  614
98   470  380  353  323  257  227
99   594  497  447  424  377  387
100  190  121   64   39   25   10
101   90   46   32   20   15    3
102  100   75   32   19   10    7
103  113   43   34   23   15   14
104   60   22    9   11    7    6
105   53   21   25   12    8    8
106   67   42   16   16   11    5
107   29   18    5   10    6    1
108   38   24   11    6    5    4
109   18    6    2    1    0    1
110    6    4    0    1    0    1
111   12    2    2    0    0    0
112   29   10    7    2    3    2
113   15    5    4    0    1    1
114   14    5    3    2    2    1
115 3707 2880 2354 2163 2014 2305
116 1853 1292 1033  913  781  823
117 1854 1588 1321 1250 1233 1482
118 1059  551  331  224  144   93
119  455  203  116   86   61   40
120  604  348  215  138   83   53
121  126   64   22   10    8    5
122   57   26   10    4    4    1
123   69   38   12    6    4    4
124  229   93   35   18   10    3
125  102   43   19    9    2    1
126  127   50   16    9    8    2

In [189]:
#set col names for sheet21 df
number_team_DHB_sheet21 <- file_name[1] %>% read_excel(sheet = "table21", skip=2, range = cell_rows(4:4)) %>% colnames()
Team_type_DHB_names_sheet21 <- c('Team_type', number_team_DHB_sheet21)

#get df of sheet21
client_team_DHB_sheet21_df <- file_name[1] %>% read_excel(sheet = "table21", skip=2, range='A4:D17')
colnames(client_team_DHB_sheet21_df) <- Team_type_DHB_names_sheet21
client_team_DHB_sheet21_df

New names:
* `` -> ...1

   Team_type                                      Clients seen Bednights
1  Inpatient Team                                   9881       279531
2  Community Team                                 103396         4160
3  Alcohol and Drug Team                           29495        11343
4  Forensic Team                                    5527        84615
5  Residential/Accommodation Team                    414         1607
6  Co-existing Problems Team                        1068            0
7  Intellectual Disability Dual Diagnosis Team       739         7858
8  Specialty Team                                   3976         4275
9  Maternal Mental Health Team                      2784         1743
10 Eating Disorder Team                             1156         3743
11 Needs Assessment and Service Coordination Team   2854            0
12 Specialist Psychotherapy Team                     197            0
13 Total                                          161487       398875
   Contacts
1    13951
2  2056470
3   426268
4    59238
5     3176
6    13300
7     9915
8    56586
9    37354
10   19346
11   16355
12    4254
13 2716213

In [185]:
#set col names for sheet22 df
number_NGO_sheet22_name <- file_name[1] %>% read_excel(sheet = "table22", skip=2, range = cell_rows(4:4)) %>% colnames()
Team_type_client_team_NGO_sheet22_name <- c('Team_type', number_NGO_sheet22_name)

#get df of sheet22
client_team_NGO_sheet22_df <- file_name[1] %>% read_excel(sheet = "table22", skip=2, range='A4:D17')
colnames(client_team_NGO_sheet22_df) <- Team_type_client_team_NGO_sheet22_name
client_team_NGO_sheet22_df

New names:
* `` -> ...1

   Team_type                                      Clients seen Bednights
1  Inpatient Team                                     8          2642
2  Community Team                                 33427         20065
3  Alcohol and Drug Team                          20825        140308
4  Forensic Team                                     47          8499
5  Residential/Accommodation Team                  6051        543178
6  Co-existing Problems Team                        715         13016
7  Intellectual Disability Dual Diagnosis Team        2           730
8  Specialty Team                                  1032          2240
9  Maternal Mental Health Team                      115             0
10 Eating Disorder Team                             189          2187
11 Needs Assessment and Service Coordination Team  1733             0
12 Early Intervention Team                           26             0
13 Total                                          64170        732865
   Contacts
1        0
2  1295047
3   246394
4     3946
5    33283
6     8754
7        0
8    16431
9     2028
10    1514
11   17059
12    1069
13 1625525